body{
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:25px;
	font-size:14px;
}
/*以上为全页基本样式，没事不要动*/


.toptop #currentTime {
    background-color: #78C0FB;
    text-align: right;
}
.shouyedingbu .logo {
    position: absolute;
    left: 25px;
    top: 40px;
}

toptop {
    background-color: #2DA4FB;
    text-align: right;
}
.logoright {
    position: absolute;
    top: 40px;
    right: 25px;
	background: -webkit-linear-gradient(to left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url("../img/shouyeyou.jpg") no-repeat;
    background: -o-linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url("../img/shouyeyou.jpg") no-repeat;
    background: linear-gradient(to left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url("../img/shouyeyou.jpg") no-repeat;
    /* [disabled]color: #DEADFF; */
    /*margin-right: -50px;*/
}

.menu {
    height: 25px;
    background-color: rgba(189,189,189,1.00);
    width: 95%;
    margin: 0 0 5px;
    position: relative;
    top: 115px;
    left: 30px;
}

.menu ul{
    list-style-type: none;
    width: 95%;
    white-space: nowrap;
    padding: 0;
    margin-left: 3%;
    height: 25px;
	/*overflow: hidden;*//*溢出隐藏*/
}

.menu li{
    float: left;/*li内容横向浮动*/
    margin-right: 1%;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 25px;
}

.menu li a{
    display: block;
    color: white;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
}

.menu li a:hover{
    background-color: rgba(85,121,255,1.00);
}

.menu ul li ul{
	margin-left: -0.2px;
    background: rgba(85,121,255,1.00);
    position: absolute;	
	display: none;
}

.menu ul li ul li{
    float: none;
    text-align: center;
}

.menu ul li:hover ul{
    display: block;
}

.menu ul li ul li:hover{
	background: rgba(85,121,255,1.00);
}

.lunbo div ul li a{
	list-style: none;
}

.lunbo div ul li{
	list-style: none;
}

.lunbo{
    width: 100%;
}

.content{
    width: 1013px;
    height: 216px;
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
    /* [disabled]margin-bottom: 20px; */
    position: relative;
}

#item{
	width: 100%;
	height: 100%;
}

.item{
    /* [disabled]position: absolute; */
    opacity: 0;
    transition: all 1s;
}

.item.active{
	opacity:1;
}

.lunbo div ul li a img{
    width: 100%;
}

#button-left{
	width: 30px;
	height: 69px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 69px;
	padding-left:5px;
	z-index: 10;/*始终显示在图片的上层*/
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-60%);/*使按钮向上偏移居中对齐*/
	cursor: pointer;
	opacity: 0;/*平时隐藏*/
}

.lunbo:hover #button-left{
	/*鼠标滑入，显示图标*/
	opacity: 1;
}

#button-right{
	width: 26px;
	height: 69px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 69px;
	padding-left: 5px;
	z-index: 10;
	position: absolute;
	right: 0;
	top: 50%;
	cursor: pointer;
	opacity: 0;
	transform: translateY(-60%);
}

.lunbo:hover #button-right{
	opacity: 1;
}

#circle{
	height: 20px;
	display: flex;
	position: absolute;
	bottom: 35px;
	right: 25px;
}

.circle{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid white;
	background: rgba(0,0,0,0.4);
	cursor: pointer;
	margin: 5px;
}

.white{
	background-color: #FFFFFF;
}
